#body-container {
  height: 100%;
  background-color: var(--background-color);
  color: var(--body-text-color);
  font-family: $main-font;
}

#main-app {
  width: 95%;
  margin: 0 auto;
}

#main-content {
  margin-top: 30px;
}

.main-title {
  font-size:2rem;
}

footer {
  display: none;
}